{% extends '::frontal.html.twig' %}


{% block article %}






<div class="container">

    <div class="logo-header">
        <h1>Nens Que Fem</h1>
        <p>Cercar d'activitats per a nens.</p>
   </div>

    <div class="well well-small">
        <form>
            <label>Label name</label>
            <input type="text" placeholder="Type something…">
            <span class="help-block">Example block-level help text here.</span>
            <label class="checkbox">
                <input type="checkbox"> Check me out
            </label>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>




    <hr>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>

</div> <!-- /container -->


{% endblock %}
